In [2]:
import pandas as pd
import json
import os
import pymysql
import numpy as np

In [3]:
# The path to get the data's of all states:

path = "D:/PROJECTS/PhonePe/pulse/data/aggregated/transaction/country/india/state"
agg_tr_st_list = os.listdir(path)
path_1 = "D:/PROJECTS/PhonePe/pulse/data/aggregated/user/country/india/state"
agg_ur_st_list = os.listdir(path_1)
path_2 ="D:/PROJECTS/PhonePe/pulse/data/map/transaction/hover/country/india/state"
map_tr_st_list = os.listdir(path_2)
path_3 = "D:/PROJECTS/PhonePe/pulse/data/map/user/hover/country/india/state"
map_ur_st_list = os.listdir(path_3)
path_4 = "D:/PROJECTS/PhonePe/pulse/data/top/transaction/country/india/state"
top_tr_st_list = os.listdir(path_4)
path_5 ="D:/PROJECTS/PhonePe/pulse/data/top/user/country/india/state"
top_ur_st_list = os.listdir(path_5)

In [16]:
# To extract the Aggregated Transaction Data's to create a dataframe:
clm={'State':[], 'Year':[],'Quater':[],'Transaction_type':[], 'Transaction_count':[], 'Transaction_amount':[]}
for state in agg_tr_st_list:
    agg_tr_year = path +"/" + state
    agg_tr_yr = os.listdir(agg_tr_year)
    for yr in agg_tr_yr:
        agg_tr_path = agg_tr_year +"/"+ yr
        agg_tr_files = os.listdir(agg_tr_path)
        for file in agg_tr_files:
            tr_fl_path = agg_tr_path +"/"+ file
            data = open(tr_fl_path,"r")
            d=json.load(data)
            for i in d["data"]["transactionData"]:
                clm["State"].append(state.title())
                clm["Year"].append(yr)
                clm["Quater"].append((int(file.strip('.json'))))
                clm["Transaction_type"].append(i['name'])
                clm["Transaction_count"].append(i["paymentInstruments"][0]["count"])
                clm["Transaction_amount"].append(i["paymentInstruments"][0]["amount"])
agg_transaction = pd.DataFrame(clm) #Transaction data broken down by type of payment at country level
agg_transaction['State'] = agg_transaction['State'].apply(lambda x: x.replace('-', ' ')
                                              .replace ("Andaman & Nicobar Islands","Andaman & Nicobar")
                                              .replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")
                                                  )
agg_transaction.to_csv("D:/PROJECTS/PhonePe/Tables/Agg_Transaction.csv",index=False)

In [17]:
# To extract the Aggregated user data's to create a dataframe:
clm1={'State':[], 'Year':[],'Quater':[],'Registered_Users':[], 'App_open_no':[],'Device':[],'Count':[], 'Share_Percentage':[]}
for state in agg_ur_st_list:
    agg_ur_year = path_1 +"/" + state
    agg_ur_yr = os.listdir(agg_ur_year)
    for yr in agg_ur_yr:
        dt_ur_path = agg_ur_year +"/"+ yr
        ur_files = os.listdir(dt_ur_path)
        for file in ur_files:
            ur_fl_path = dt_ur_path +"/"+ file
            data = open(ur_fl_path,"r")
            d=json.load(data)
            Users = d["data"]["aggregated"]["registeredUsers"]
            App_open = d["data"]["aggregated"]["appOpens"]
            if d["data"]["usersByDevice"] is not None:
                for i in d["data"]["usersByDevice"]:
                    clm1["State"].append(state.title())
                    clm1["Year"].append(yr)
                    clm1["Quater"].append((int(file.strip('.json'))))
                    clm1["Registered_Users"].append(Users)
                    clm1["App_open_no"].append(App_open)
                    clm1["Device"].append(i["brand"]) 
                    clm1["Count"].append(i["count"])
                    clm1["Share_Percentage"].append(i["percentage"])
agg_user = pd.DataFrame(clm1) #Users data broken down by devices at country level.
agg_user['State'] = agg_user['State'].apply(lambda x: x.replace('-', ' ')
                                              .replace ("Andaman & Nicobar Islands","Andaman & Nicobar")
                                              .replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")
                                                  )
agg_user.to_csv("D:/PROJECTS/PhonePe/Tables/Agg_User.csv",index=False)

In [18]:
# To extract the Map Transaction data's to create a dataframe:
clm2 ={"State":[],'Year':[],'Quater':[],"District": [],"No_of_Transaction":[],"Total_amount":[]}
for state in map_tr_st_list:
    map_tr_year = path_2 +"/" + state
    map_tr_yr = os.listdir(map_tr_year)
    for yr in map_tr_yr:
        map_tr_path = map_tr_year +"/"+ yr
        map_tr_files = os.listdir(map_tr_path)
        for file in map_tr_files:
            tr_fl_path = map_tr_path +"/"+ file
            data = open(tr_fl_path,"r")
            d=json.load(data) 
            for i in d["data"]["hoverDataList"]:
                clm2["State"].append(state.title())
                clm2["Year"].append(yr)
                clm2["Quater"].append((int(file.strip('.json'))))
                clm2["District"].append(i["name"].title())
                clm2["No_of_Transaction"].append(i["metric"][0]["count"])
                clm2["Total_amount"].append(i["metric"][0]["amount"])
map_transaction = pd.DataFrame(clm2) #Total number of transactions and total value of all transactions at the state level.
map_transaction['State'] = map_transaction['State'].apply(lambda x: x.replace('-', ' ')
                                              .replace ("Andaman & Nicobar Islands","Andaman & Nicobar")
                                              .replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")
                                                  )
map_transaction.to_csv("D:/PROJECTS/PhonePe/Tables/Map_Transaction.csv",index=False)

In [19]:
# To extract the Map User data's to create a dataframe:
clm3 ={"State":[],'Year':[],'Quater':[],"District": [],"Registered_Users":[],"App_open_no":[]}
for state in map_tr_st_list:
    map_ur_year = path_3 +"/" + state
    map_ur_yr = os.listdir(map_ur_year)
    for yr in map_ur_yr:
        map_ur_path = map_ur_year +"/"+ yr
        map_ur_files = os.listdir(map_ur_path)
        for file in map_ur_files:
            ur_fl_path = map_ur_path +"/"+ file
            data = open(ur_fl_path,"r")
            d=json.load(data) 
            for district,values in d["data"]["hoverData"].items():
                clm3["State"].append(state.title())
                clm3["Year"].append(yr)
                clm3["Quater"].append((int(file.strip('.json'))))
                clm3["District"].append(district.title())
                clm3["Registered_Users"].append(values['registeredUsers'])
                clm3["App_open_no"].append(values['appOpens'])
map_user = pd.DataFrame(clm3)#Total number of registered users and number of app opens by these registered users at the state level.
map_user['State'] = map_user['State'].apply(lambda x: x.replace('-', ' ')
                                              .replace ("Andaman & Nicobar Islands","Andaman & Nicobar")
                                              .replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")
                                                  )
map_user.to_csv("D:/PROJECTS/PhonePe/Tables/Map_User.csv",index=False)

In [47]:
# To extract the Top Transaction data's to create a dataframe:
clm4 = {"State":[], 'Year':[],'Quater':[],"Pincode":[], "Total_No_Of_Transactions":[], "Total_Amount":[]}
for state in top_tr_st_list:
    top_tr_year = path_4 +"/" + state
    top_tr_yr = os.listdir(top_tr_year)
    for yr in top_tr_yr:
        top_tr_path = top_tr_year +"/"+ yr
        top_tr_files = os.listdir(top_tr_path)
        for file in top_tr_files:
            tr_fl_path = top_tr_path +"/"+ file
            data = open(tr_fl_path,"r")
            d=json.load(data) 
            for i in d["data"]["pincodes"]:
                clm4["State"].append(state.title())
                clm4["Year"].append(yr)
                clm4["Quater"].append((int(file.strip('.json'))))
                clm4["Pincode"].append(i["entityName"])
                clm4["Total_No_Of_Transactions"].append(i["metric"]["count"])
                clm4["Total_Amount"].append(i["metric"]["amount"])
top_transaction=pd.DataFrame(clm4) #Top 10 states / districts where the most number of the transactions happened for a selected year-quarter combination.
top_transaction['State'] = top_transaction['State'].apply(lambda x: x.replace('-', ' ')
                                              .replace ("Andaman & Nicobar Islands","Andaman & Nicobar")
                                              .replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")
                                                  )
top_transaction.to_csv("D:/PROJECTS/PhonePe/Tables/Top_Transaction.csv",index=False)

In [49]:
# To extract the Top District User data's to create a dataframe:
clm6 ={"State":[], 'Year':[],'Quater':[],"Districts":[],"Users":[]}
for state in top_ur_st_list:
    top_ur_year = path_5 +"/" + state
    top_ur_yr = os.listdir(top_ur_year)
    for yr in top_ur_yr:
        top_ur_path = top_ur_year +"/"+ yr
        top_ur_files = os.listdir(top_ur_path)
        for file in top_ur_files:
            ur_fl_path = top_ur_path +"/"+ file
            data = open(ur_fl_path,"r")
            d=json.load(data)
            for i in d["data"]["districts"]:
                clm6["State"].append(state.title())
                clm6["Year"].append(yr)
                clm6["Quater"].append((int(file.strip('.json'))))
                clm6["Districts"].append(i["name"].title())
                clm6["Users"].append(i["registeredUsers"])
top_users = pd.DataFrame(clm6)
top_users['State'] = top_users['State'].apply(lambda x: x.replace('-', ' ')
                                              .replace ("Andaman & Nicobar Islands","Andaman & Nicobar")
                                              .replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")
                                                  )
top_users.to_csv("D:/PROJECTS/PhonePe/Tables/Top_Users.csv",index=False)

In [50]:
# To extract the Top User Pincode data's to create a dataframe:
clm7 ={"State":[], 'Year':[],'Quater':[],"Pincode":[],"Users":[]}
for state in top_ur_st_list:
    top_ur_year = path_5 +"/" + state
    top_ur_yr = os.listdir(top_ur_year)
    for yr in top_ur_yr:
        top_ur_path = top_ur_year +"/"+ yr
        top_ur_files = os.listdir(top_ur_path)
        for file in top_ur_files:
            ur_fl_path = top_ur_path +"/"+ file
            data = open(ur_fl_path,"r")
            d=json.load(data)
            for i in d["data"]["pincodes"]:
                    clm7["State"].append(state.title())
                    clm7["Year"].append(yr)
                    clm7["Quater"].append((int(file.strip('.json'))))
                    clm7["Pincode"].append(i["name"])
                    clm7["Users"].append(i["registeredUsers"])
Top_ur_PinCode = pd.DataFrame(clm7)#Top 10  pin codes where the most number of the transactions happened for a selected year-quarter combination.
Top_ur_PinCode['State'] = Top_ur_PinCode['State'].apply(lambda x: x.replace('-', ' ')
                                              .replace ("Andaman & Nicobar Islands","Andaman & Nicobar")
                                              .replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")
                                                  )
Top_ur_PinCode.to_csv("D:/PROJECTS/PhonePe/Tables/Top_ur_PinCode.csv",index=False)

In [33]:
def percentage(value):
    percentage_values = [round(value * 100, 2)]
    return percentage_values

In [24]:
# MySQL connection
mysql_connection  =  pymysql.connect(host = "127.0.0.1",
                                user='root',
                                passwd='Nisha@130899',
                                database ="PhonePe",
                                autocommit=True)                                
mysql_cursor  = mysql_connection.cursor()

In [30]:
query = '''use PhonePe'''
mysql_cursor.execute(query)
mysql_connection.commit()

In [31]:
# Table creation - Aggregated_Transaction_Data:
create_query ='''CREATE TABLE IF NOT EXISTS Aggregated_Transaction_Data(
                                            State varchar(150),
                                            Year int,
                                            Quater int,
                                            Transaction_type varchar(200),
                                            Transaction_count bigint,
                                            Transaction_amount bigint   )''' 
mysql_cursor.execute(create_query)
mysql_connection.commit()
# Insert Dataframe into SQL Server:
file_path = "D:/PROJECTS/PhonePe/Tables/Agg_Transaction.csv"
agg_transaction = pd.read_csv(file_path)
for index, row in agg_transaction.iterrows():
    
    mysql_cursor.execute('''
                    INSERT INTO Aggregated_Transaction_Data(
                                            State,
                                            Year,
                                            Quater,
                                            Transaction_type,
                                            Transaction_count,
                                            Transaction_amount   
                    )
                    VALUES (%s, %s, %s, %s, %s, %s)
                    ''',(
                        row.State,
                        row.Year,
                        row.Quater,
                        row.Transaction_type ,
                        row.Transaction_count,
                        row.Transaction_amount,
                    ))
mysql_connection.commit()

In [34]:
# Table creation - Aggregated_User_Data:
create_query ='''CREATE TABLE IF NOT EXISTS Aggregated_User_Data(
                                            State varchar(150),
                                            Year int,
                                            Quater int,
                                            Registered_Users bigint,
                                            App_open_no bigint,
                                            Device text,
                                            Count bigint,
                                            Share_Percentage text)''' 
mysql_cursor.execute(create_query)
mysql_connection.commit()
# Insert Dataframe into SQL Server:
file_path = "D:/PROJECTS/PhonePe/Tables/Agg_User.csv"
agg_user = pd.read_csv(file_path)
for index, row in agg_user.iterrows():
    percentage_value = percentage(row.Share_Percentage)
    mysql_cursor.execute('''
                    INSERT INTO Aggregated_User_Data(
                                            State,
                                            Year,
                                            Quater,
                                            Registered_Users,
                                            App_open_no,
                                            Device,
                                            Count,
                                            Share_Percentage
                    )
                    VALUES (%s, %s, %s, %s, %s, %s , %s, CONCAT(%s, '%%'))
                    ''',(
                        row.State,
                        row.Year,
                        row.Quater,
                        row.Registered_Users ,
                        row.App_open_no,
                        row.Device,
                        row.Count,
                        percentage_value
                    ))
mysql_connection.commit()

In [35]:
# Table creation - Map_Transaction_data:
create_query ='''CREATE TABLE IF NOT EXISTS Map_Transaction_Data(
                                            State varchar(150),
                                            Year int,
                                            Quater int,
                                            District varchar(200),
                                            No_of_Transaction bigint,
                                            Total_amount bigint   )''' 
mysql_cursor.execute(create_query)
mysql_connection.commit()
# Insert Dataframe into SQL Server:
file_path = "D:/PROJECTS/PhonePe/Tables/Map_Transaction.csv"
map_transaction = pd.read_csv(file_path)
for index, row in map_transaction.iterrows():
    mysql_cursor.execute('''
                    INSERT INTO Map_Transaction_Data(
                                            State,
                                            Year,
                                            Quater,
                                            District,
                                            No_of_Transaction,
                                            Total_amount   
                    )
                    VALUES (%s, %s, %s, %s, %s, %s)
                    ''',(
                        row.State,
                        row.Year,
                        row.Quater,
                        row.District ,
                        row.No_of_Transaction,
                        row.Total_amount,
                    ))
mysql_connection.commit()

In [36]:
# Table creation - Map_User_Data:
create_query ='''CREATE TABLE IF NOT EXISTS Map_User_Data(
                                            State varchar(150),
                                            Year int,
                                            Quater int,
                                            District varchar(200),
                                            Registered_Users bigint,
                                            App_open_no bigint
                                            )''' 
mysql_cursor.execute(create_query)
mysql_connection.commit()
# Insert Dataframe into SQL Server:
file_path = "D:/PROJECTS/PhonePe/Tables/Map_User.csv"
map_user = pd.read_csv(file_path)
for index, row in map_user.iterrows():
    mysql_cursor.execute('''
                    INSERT INTO Map_User_Data(
                                            State,
                                            Year,
                                            Quater,
                                            District,
                                            Registered_Users,
                                            App_open_no
                                            
                    )
                    VALUES (%s, %s, %s, %s, %s, %s)
                    ''',(
                        row.State,
                        row.Year,
                        row.Quater,
                        row.District ,
                        row.Registered_Users,
                        row.App_open_no
                    ))
mysql_connection.commit()

In [56]:
# Table creation - Top_Transaction_data:

create_query ='''CREATE TABLE IF NOT EXISTS Top_Transaction_data(
                                            State varchar(150),
                                            Year int,
                                            Quater int,
                                            Pincode varchar(200),
                                            Total_No_Of_Transactions bigint,
                                            Total_Amount bigint   )''' 
mysql_cursor.execute(create_query)
mysql_connection.commit()
# Insert Dataframe into SQL Server:
file_path = "D:/PROJECTS/PhonePe/Tables/Top_Transaction.csv"
top_transaction = pd.read_csv(file_path)
top_transaction.fillna(0, inplace=True)
for index, row in top_transaction.iterrows():
    mysql_cursor.execute('''
                    INSERT INTO Top_Transaction_data(
                                            State,
                                            Year,
                                            Quater,
                                            Pincode,
                                            Total_No_Of_Transactions,
                                            Total_Amount   
                    )
                    VALUES (%s, %s, %s, %s, %s, %s)
                    ''',(
                        row.State,
                        row.Year,
                        row.Quater,
                        row.Pincode ,
                        row.Total_No_Of_Transactions,
                        row.Total_Amount,
                    ))
mysql_connection.commit()

In [58]:
# Table creation - Top_User_data:

create_query ='''CREATE TABLE IF NOT EXISTS Top_User_data(
                                            State varchar(150),
                                            Year int,
                                            Quater int,
                                            Districts varchar(200),
                                            Users bigint
                                            )''' 
mysql_cursor.execute(create_query)
mysql_connection.commit()
# Insert Dataframe into SQL Server:
file_path = "D:/PROJECTS/PhonePe/Tables/Top_Users.csv"
top_users = pd.read_csv(file_path)
for index, row in top_users.iterrows():
    mysql_cursor.execute('''
                    INSERT INTO Top_User_data(
                                            State,
                                            Year,
                                            Quater,
                                            Districts,
                                            Users                                              
                                            )
                    VALUES (%s, %s, %s, %s, %s)
                    ''',(
                        row.State,
                        row.Year,
                        row.Quater,
                        row.Districts ,
                        row.Users
                    ))
mysql_connection.commit()

In [59]:
# Table creation - Top_Ur_Pincode_data:

create_query ='''CREATE TABLE IF NOT EXISTS Top_Ur_Pincode_data(
                                            State varchar(150),
                                            Year int,
                                            Quater int,
                                            Pincode int,
                                            Users bigint
                                                  )''' 
mysql_cursor.execute(create_query)
mysql_connection.commit()
# Insert Dataframe into SQL Server:
file_path = "D:/PROJECTS/PhonePe/Tables/Top_ur_PinCode.csv"
Top_ur_PinCode = pd.read_csv(file_path)
for index, row in Top_ur_PinCode.iterrows():
    mysql_cursor.execute('''
                    INSERT INTO Top_Ur_Pincode_data(
                                            State,
                                            Year,
                                            Quater,
                                            Pincode,
                                            Users  
                    )
                    VALUES (%s, %s, %s, %s, %s)
                    ''',(
                        row.State,
                        row.Year,
                        row.Quater,
                        row.Pincode ,
                        row.Users
                    ))
mysql_connection.commit()